@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

:root {
  --header-height: 6rem;
  --font-weight-small: 400;
  --font-weight-semi: 600;
  --font-weight-bold: 700;
}

/* COLOR */
:root {
    --color-primary: hsl(276, 91%, 38%);
    --color-primary-variant: hsl(276, 85%, 26%);
    --color-secondary: hsl(326, 100%, 47%);
    --color-secondary-variant:hsl(326, 95%, 35%);
    --color-success: hsl(164, 95%, 40%);
    --color-danger: hsl(42, 100%, 67%);
    --color-error: hsl(346, 84%, 58%);
    --color-background: hsl(0, 0%, 96%);
    --color-background-dark: hsl(0, 0%, 93%);
    --color-surface: hsl(255,100%,100%);
    --color-on-primary: hsl(255,100%,100%);
    --color-on-secondary: hsl(255,100%,100%);
    --color-on-background: hsl(194, 51%, 8%);
    --color-on-background-dark: hsl(194, 51%, 8%);
    --color-on-surface: hsl(194, 51%, 8%);
    --color-on-error: hsl(255,100%,100%);
 }

/* FONT */
:root {
    --font: 'Source Code Pro', monospace;
    --font-size-xs: 0.5rem; 
    --font-size-sm: 1rem;
    --font-size: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xl: 2.5rem; 
}

/* Z-INDEX */
:root {
  --zi-1: 100;
  --zi-2: 200;
}

/*===== LAYOUT =====*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--zi-2);
  background-color: var(--color-background-dark);
}

.btn:hover {
  box-shadow: 1px 17px 14px -11px hsla(0, 0%, 0%, 0.20);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--color-background);
    transition: .5s;
  }
}

.nav__list {
  background: var(--color-background);
}

.nav__item {
    margin: 0 0 2rem 0;
}

.nav__link {
  color: var(--color-on-surface);
  font-weight: var(--font-weight-small);
}

.nav__link:hover {
  color: var(--color-primary);
}

.nav__logo {
  font-size: var(--font-size);
  font-weight: var(--font-bold);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Menu status */
.show {
  right: 0;
}

.active {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
    justify-content: initial;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    background: var(--color-background-dark);
  }

  .nav__list {
    display: flex;
    background: var(--color-background-dark);
  }

  .nav__item {
    margin: 0 0 0 3rem;
  }

  .nav__btn {
    margin: 0 0 0 3rem;
  }

  .nav__toggle {
    display: none;
  }
}